*.DS_Store
*/.DS_Store
*.pfx
test_results
JumpCloud.ADMU.nuspec
**/.nupkg
Deploy/ADMU.ps1
Deploy/admuTemplate.ps1
*.exe
# ignore files created during tests
*jcdiscovery.csv
*invokeFunctions.ps1
*invokeScript.ps1
*DeviceDescription*Functions.ps1
*deviceQueryFunctions.ps1
